.calculos {
    background-color: rgb(0, 255, 170);
    color: black;
    font-size: 20px;
    margin: 5px;
    border: 2px outset rgb(24, 6, 6);
    padding: 15px 40px;
    text-align: center;
    font-weight: 700;
  }
  h1 {
    text-align: center;
    color: brown;
  }
  .centrar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.grid_numeros{
    display: grid;
    grid-template-columns: auto auto auto;

}
.grid_raices{
    display: grid;
    grid-template-columns: auto auto;
}